@model AppAnime.Models.Anime

<h2>Detalles</h2>

<div>

    <p><strong>Titulo:</strong> @Model.Titulo</p>
    <p><strong>Genero:</strong> @Model.Genero</p>
    <p><strong>Episodios:</strong> @Model.Episodios</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
    <p><strong>Sinopsis:</strong> @Model.Sinopsis</p>

</div>

<a asp-action="Index" class="btn btn-secondary">Volver</a>